#body {
    background-color: #02010f;
    overflow: hidden;
}

.navbar-brand {
    letter-spacing: 3px;
    font-size: 20px;
    color: #120163;
  }
  
  .navbar-brand:hover {
      color: #3dd218;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #9b0461;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #02010f;
  }
  
  .navbar-scrolled {
    background-color: #1521ca;
  }

#col1 {
    h1 {
    color: #5c4dca; 
    text-align: center;
    margin-top: 50px;
}
    p {
        color: #5c4dca;
        text-align: justify;
        margin: 50px;
        margin-top: 200px;
        margin-right: 20px;
        font-size: 30px;
        background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
        background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
}
    button {
        background-color: #5c4dca;
        border-radius: 10px;
        padding: 20px;
        border: 0px;
        width: 120px;
        margin-left: 400px;
        margin-top: 100px;

        a {
            color: #02010f;
            text-decoration: none;
            font-size: larger;
        }
    }

}

#col2 {
    img {
        width: 107% ;
    }
}

#active {
    color: #2f2;
}

#col3 {
    img {
        width: 400px;
        margin-left: 80px;
        margin-top: 50px;
    }
}

#col4 {
    img {
        width: 400px;
        margin-left: 80px;
        margin-top: 100px;
    }
}

#col5 {
    img {
        width: 400px;
        margin-left: 80px;
        margin-top: 50px;
    }
}
p {
    color: #5c4dca;
    text-align: justify;
    margin: 50px;
    margin-top: 100px;
    margin-right: 20px;
    font-size: 30px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#cim {
    color: #5c4dca; 
    text-align: center;
    margin-top: 50px;
}

#col6 {
    img {
        width: 800px;
        margin-left: 80px;
        margin-top: 50px;
    }
}